@{
    ViewData["Title"] = "Home Page";
}
<div class="main__container">
    <div class="main__container__frame">
        <div class="main__container__frame main__container__frame__1">
            <div>
                <button>
                    <img src="~/Images/N.svg" />
                </button>
            </div>
            <div>
                <h1 class="title__font title__font__color">Welcome, {Name Surname}!</h1>
                <p class="text__font">Your central hub for account settings and technical support tickets</p>
            </div>
        </div>

        <div class="main__container__frame main__container__frame__2">
            <div class="title__text__block">
                <h1 class="title__font title__font__color">Main actions</h1>
            </div>

            <section class="features-section__card">
                @await Html.PartialAsync("_Feature-card")
                @await Html.PartialAsync("_Feature-card")
            </section>
        </div>

        <div class="main__container__frame main__container__frame__3">
            <div class="title__text__block">
                <h1 class="title__font title__font__color">All our resources</h1>
            </div>

            <section class="features-section__card">
                @await Html.PartialAsync("_Feature-card")
                @await Html.PartialAsync("_Feature-card")
            </section>

            <section class="features-section__one__card">
                @await Html.PartialAsync("_Feature-card")
            </section>
            <section class="features-section__one__card">
                @await Html.PartialAsync("_Feature-card")
            </section>
            <section class="features-section__more">
                <div class="features-section__more__frame__1">
                    <div>
                        <img src="~/Images/three-dots-icon.svg" alt="icon" />
                    </div>
                    <div>
                        <p class="text__font text__font__color">More</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>