@{
    ViewData["Title"] = "Ticket Page";
}
<div class="main__container-ticket">
    @await Html.PartialAsync("_TicketsSidebarPartial")
    <div class="main__container-ticket__chat">
        <img src="~/Images/create-ticket.svg" alt="icon" />
        <p>Naruto</p>
    </div>
</div>