@{
    ViewData["Title"] = "Ticket Page";
}
@*class="main__container-ticket*@
<div style="display:flex">
    @await Html.PartialAsync("_TicketSidebarPartial")
    <div class="main__container-ticket__chat">
        <div class="ticket-chat__null">
            <img src="~/Images/create-ticket.svg" alt="icon" />
            <p>Select ticket or create a new one to start messaging.</p>
        </div>
    </div>
</div>