$button-hover-background-color: blue;
$header-background-color: #F6F6F8;

// Text styles


$text-styles__font-family: 'Poppins', sans-serif;

// TITLE STYLES
$title-font-weight: 500;
$title-font-size: 20px;
$title-line-height: 20px;
$title-letter-spacing: 0px;
$title-color: rgba(0, 0, 0, 0.85);



$text-font-family: 'Poppins', sans-serif;
$text-font-weight: 400;
$text-font-size: 14px;
$text-line-height: 24px;
$text-letter-spacing: 0px;
$text-color: rgba(0, 0, 0, 0.65);

$card-color: rgba(0, 0, 0, 1);

$border-styles: 1px solid rgba(0, 0, 0, 0.1);
