@import 'variables';
@import '_mixins.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    overflow: hidden;
}

.container {
    @include base-contanier;
}
//// HEADER
.header {
    width: 68px;
    height: 100vh;
    background-color: $header-background-color;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding: 18px;
    position: fixed;

    &__frame {
        width: 32px;

        &--top {
            height: 248px;
        }

        &--bottom {
            height: 32px;

            button {
                @include base-button;
                background-color: #00000099;
                border-radius: 8px;
            }
        }
    }

    &__logo {
        width: 32px;
        height: 32px;
        margin-bottom: 24px;

        img {
            width: 32px;
            height: 32px;
        }
    }

    &__menu {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        &__button {
            @include base-button;
            background-color: transparent;
            border-radius: 8px;

            &:hover, active {
                background-color: $button-hover-background-color;
            }

            &:hover svg, &:hover img {
                filter: brightness(0) invert(1);
            }
        }
    }
}

// MAIN

.main {
    &__container {
        margin: 100px 320px;
        //@include base-contanier;
        justify-content: center;
        width: 100%;

        &__frame {
            //width: 1200px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 48px;

            h1 {
                @include text__styles;
                @include title__font;
            }

            p {
                @include text__styles;
                letter-spacing: 100%;
            }

            &__1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                gap: 16px;

                h1 {
                    text-align: center;
                }

                button {
                    @include base-button;
                    background-color: #00000099;
                    border-radius: 8px;
                    width: 64px;
                    height: 64px;

                    &:hover, active {
                        background-color: $button-hover-background-color;
                    }
                }

                img {
                    width: 15px;
                    height: 20px;
                }
            }

            &__2, &__3 {
                //width: 1200px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 16px;
            }
        }
    }
}


.main__container__frame__2, main__container__frame__3 {
    //width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}



// FEATURE CARD
.feature-card {
    border-radius: 12px;
    border: $border-styles__card;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    gap: 16px;

    &:hover button {
        background-color: $button-hover-background-color;
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__title {
        display: flex;
        gap: 12px;

        p {
            @include text__styles;
            @include title__font;
            color: $card-color;
        }

        img {
            width: 20px;
            height: 20px;
        }
    }

    &__text {
        @include text__styles;
        line-height: 100%;
    }

    button {
        @include base-button;
        background-color: transparent;
        border-radius: 16px;
        width: 48px;
        height: 48px;

        &:hover, active {
            background-color: $button-hover-background-color;
        }
    }
}



.title__text__block {
    padding: 0 24px 0 24px;
}

.features-section {
    &__card {
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }

    &__one__card {
        width: 100%;
    }
}




.features-section__more {
    width: 100%;
    border: $border-styles__card;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 5px;

    img {
        width: 20px;
        height: 20px;
    }

    &:hover div {
        background-color: $button-hover-background-color;
        border-radius: 8px;

        p {
            color: white;
        }
    }

    &:hover svg, &:hover img {
        filter: brightness(0) invert(1);
    }

    p {
        @include text__styles;
        line-height: 100%;
    }

    &:hover {
        button {
            background-color: $button-hover-background-color;
            border-radius: 8px;
            padding: 5px;
            color: white;

            img {
                filter: invert(1);
            }
        }
    }

    button {
        @include base-button;
        width: 70px;
        gap: 5px;
    }
}

// TICKET
.main__container-ticket {
    display: flex;
    height: 100%;


    &__frame {
        width: 1432px;
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    &__chat {
        width: 100%;
        @include flex-center;
    }
}



// TICKET CHAT
.ticket-chat {
    // TICKET CHAT DETAILS
    &__wrapper-details {
        @include flex-column;
        justify-content: start;
        width: 380px;
        height: 100%;

        .details__header {
            padding: 18px;

            p {
                @include text__styles;
                @include title__font;
                font-size: 16px;
                line-height: 100%;
            }
        }

        .details__main {
            @include flex-column;
            justify-content: start;
            gap: 12px;
            padding: 24px;

            &-row {
                @include flex-row;
            }

            h1 {
                @include text__styles;
                @include title__font;
                font-size: 16px;
                line-height: 100%;
                color: rgba(0, 0, 0, 0.4);
            }

            p {
                @include text__styles;
                font-size: 16px;
                line-height: 100%;
                color: rgba(0, 0, 0, 0.85);
            }

            .text-status {
                @include text__styles;
                font-size: 12px;
                line-height: 100%;
                color: rgba(0, 112, 255, 1);
                border-radius: 8px;
                padding: 4px 6px 4px 6px;
                background-color: rgba(232, 241, 255, 1);
            }
        }
    }
    // TICEK CHAT EMPTY
    &__null {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        width: 420px;
        height: 100vh;

        button {
            @include base-button;
        }

        img {
            width: 50px;
            height: 50px;
        }

        p {
            @include text__styles;
            font-size: 16px;
            line-height: 1;
            color: rgba(0, 0, 0, 0.8);
        }
    }

    &__completed {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    // TICKET CHAT HEADER
    &__header {
        @include flex-row;
        //width: 1052px;
        padding: 24px 32px 24px 32px;

        &-url {
            @include flex-row;
            align-items: center;
            width: 253px;

            .ticket-url {
                width: 28px;
                height: 28px;
                border-radius: 8px;
                padding: 6px;
                background-color: rgba(244, 244, 245, 1);
            }

            img {
                width: 16px;
                height: 16px;
            }

            p {
                @include text__styles;
                font-size: 16px;
                line-height: 100%;
                color: $text-color__url-ticket;
            }

            .ticket-number {
                border-radius: 8px;
                padding: 6px;
                background-color: rgba(244, 244, 245, 1);
            }
        }

        &-actions {
            @include flex-center;
            gap: 24px;

            img {
                width: 18px;
                height: 18px;
            }

            button {
                @include base-button;

                &:hover {
                    background-color: rgb(13, 110, 253);

                    img {
                        filter: invert(1);
                    }
                }
            }
        }
    }
    // TICKET CHAT MAIN
    &__main {
        //width: 1052px;
        //height: 100%;
        //padding: 24px 32px 24px 32px;

        &-frame {
            //height: 100vh;
            @include flex-column;
            //flex-grow: 1;
            justify-content: start;
            gap: 24px;
            padding: 24px 32px 24px 32px;
            overflow: hidden;
        }

        &__header {
            @include flex-row;

            &-title {
                @include flex-column;
                gap: 6px;
            }

            h1 {
                @include text__styles;
                @include title__font;
            }

            p {
                @include text__styles;
                font-size: 12px;
                line-height: 100%;
                color: rgba(0, 0, 0, 0.45);
            }

            .chat-main__actions {
                @include flex-row;
                gap: 8px;

                .close-icon img {
                    filter: invert(1);
                }

                button {
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    border-radius: 6px;
                    padding: 10px 12px 10px 12px;
                    background-color: rgba(0, 0, 0, 0.05);

                    &:hover {
                        background-color: rgba(13, 110, 253, 1);
                        color: white;

                        img {
                            filter: brightness(0) invert(1);
                        }
                    }

                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
        // CHAT CONTENT
        &__content-frame {
            height: 100%;
            @include flex-column;
            flex: 1;
            overflow: hidden;
            gap: 24px;

            .chat-main__content-title {
                @include flex-center;

                p {
                    @include text__styles;
                    font-weight: 300;
                    line-height: 100%;
                    color: rgba(0, 0, 0, 1);
                }
            }

            .chat-main__content {
                &__section-1, &__section-2 {
                    width: 100%;
                    @include flex-column;
                    flex-wrap: wrap;
                    align-items: end;
                    gap: 6px;

                    .user-me, .user-from {
                        display: inline-flex;
                        justify-content: start;
                        gap: 12px;
                        width: auto;
                        border-radius: 12px;

                        p {
                            white-space: normal;
                            word-break: break-word;
                        }


                        &__logo {
                            @include flex-center;
                            width: 44px;
                            height: 44px;
                            border-radius: 12px;
                            background-color: rgba(0, 0, 0, 0.05);

                            p {
                                @include text__styles;
                                @include title__font;
                                font-size: 16px;
                                line-height: 100%;
                                padding: 10px 12.5px 10px 12.5px;
                                color: rgba(255, 255, 255, 1);
                            }

                            img {
                                width: 24px;
                                height: 24px;
                            }
                        }

                        .user__send-message {
                            @include flex-column;
                            justify-content: start;
                            gap: 6px;
                            max-width: 700px;
                            padding: 18px;
                            border-radius: 6px;
                            background-color: rgba(232, 241, 255, 1);

                            p {
                                @include text__styles;
                            }

                            .user__send-time {
                                @include flex-row;
                                justify-content: start;
                                gap: 12px;

                                h1 {
                                    @include text__styles;
                                    @include title__font;
                                    font-size: 16px;
                                    line-height: 18px;
                                }

                                p {
                                    @include text__styles;
                                    font-size: 12px;
                                    line-height: 18px;
                                    color: rgba(0, 0, 0, 0.4);
                                }
                            }
                        }
                    }

                    .user-from__logo {
                        background-color: rgba(37, 39, 43, 1);
                    }
                }

                &__section-2 {
                    align-items: start;
                }

                &__section-3 {
                    @include flex-column;
                    width: 100%;
                    height: 44px;

                    .entering-messages {
                        @include flex-row;
                        gap: 6px;


                        .input-text {
                            @include text__styles;
                            flex: 1;
                            padding: 5px;
                            border-radius: 8px;
                            border: 1px solid rgba(0, 0, 0, 0.1)
                        }

                        input::placeholder {
                            @include text__styles;
                            font-size: 12px;
                            line-height: 100%;
                            color: rgba(27, 45, 74, 0.65);
                        }

                        .btn__add-file {
                            @include base-button;
                            width: 44px;
                            height: 44px;

                            &:hover {
                                background-color: rgba(13, 110, 253, 0.5);

                                img {
                                    filter: invert(1);
                                }
                            }
                        }

                        .btn__send-message {
                            @include base-button;
                            width: 44px;
                            height: 44px;
                            background-color: rgba(13, 110, 253, 1);

                            &:hover {
                                background-color: rgba(13, 110, 253, 0.5);
                            }
                        }
                    }
                }
            }
        }
    }
}

// TICKET__SIDEBAR

.ticket-sidebar {
    width: 420px;
    height: 100vh;
    @include flex-column;
    justify-content: start;
    padding: 18px;
    border-right: $border-styles__card;
    gap: 24px;

    &__frame {
        @include flex-column;
        justify-content: start;
        gap: 12px;
        overflow-y: auto;
        scrollbar-width: none;
        padding: 5px;
    }

    &__action {
        width: 384px;
        height: 104px;
        @include flex-column;
        gap: 12px;

        button {
            @include text__styles;
            font-size: 16px;
            line-height: 100%;

            &:hover, active {
                background-color: white;
                color: rgba(0, 0, 0, 1);
            }
        }
    }

    &__status {
        @include flex-row;
        border-radius: 12px;
        padding: 4px;
        background-color: rgba(244, 244, 245, 1);
        gap: 12px;

        button {
            @include base-button;
            width: 100%;
            height: 36px;
            border-radius: 8px;
        }
    }

    &__create {
        border-radius: 12px;
        padding: 4px;
        background-color: rgba(244, 244, 245, 1);
        gap: 12px;

        button {
            @include base-button;
            width: 100%;
            height: 48px;
            border-radius: 8px;
            padding: 4px;
        }
    }

    &__info {
        width: 384px;
        height: 916px;
        @include flex-column;
    }
}
// TICKET__CARD
.ticket-card {
    border-radius: 12px;
    border: $border-styles__card;
    padding: 18px;
    @include flex-column;
    justify-content: start;
    gap: 18px;

    &__link-wrapper {
        text-decoration-line: none;

        &:hover .ticket-card, active .ticket-card {
            border: 1px solid rgba(0, 0, 0, 0.25);
        }
    }

    &__header {
        @include flex-row;

        &-status {
            @include flex-center;
            width: 61px;
            height: 26px;
            border-radius: 8px;
            @include text__styles;
            font-weight: 300;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0px;
        }

        .ticket-card__header-number {
            padding: 5px;
            @include flex-row;
            align-items: center;
            gap: 6px;
            @include text__styles;
            font-weight: 300;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0px;

            img {
                width: 16px;
                height: 16px;
            }
        }
    }

    &__info {
        @include flex-column;
        gap: 12px;
    }

    &__description {
        @include flex-column;
        gap: 6px;

        h1 {
            @include text__styles;
            font-size: 16px;
            line-height: 100%;
            color: $card-color;
        }

        p {
            @include text__styles;
            font-size: 12px;
            line-height: 1.5;
        }
    }

    &__publication {
        @include flex-row;
        justify-content: start;
        gap: 4px;
        @include text__styles;
        font-weight: 300;
        font-size: 12px;
        line-height: 1;
        color: rgba(0, 0, 0, 0.45);
    }
}

.ticket-card__header-status.opened {
    background-color: $background-button__status-opened;
    color: $text-color__status-opened;
}

.ticket-card__header-status.solved {
    background-color: $background-button__status-solved;
    color: $text-color__status-solved;
}


.chat-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.chat-content {
    height: 100%;
    @include flex-column;
    justify-content: start;
    gap: 12px;
    overflow-y: auto;
    scrollbar-width: none;
}
// TICKET CREATE
.ticket-create {
    &__wrapper {
        width: 100%;
    }

    &__header {
        padding: 18px 32px 18px 32px;
    }

    &__url {
        p {
            @include text__styles;
            font-size: 16px;
            line-height: 100%;
            color: $text-color__url-ticket;
        }
    }

    &__main {
        //margin: 100px 266px 266px 266px;
    }

    &__content {
        @include flex-column;
        justify-content: start;
        gap: 24px;
        margin: 100px 266px 266px 266px;

        button {
            @include base-button;
            width: 100%;
            height: 44px;
            border-radius: 8px;
            background: rgba(13, 110, 253, 1);
            @include text__styles;
            @include title__font;
            font-size: 12px;
            color: rgba(255, 255, 255, 1);
        }

        &-title {
            h1 {
                @include text__styles;
                @include title__font;
                font-size: 16px;
                line-height: 100%;
                color: rgba(0, 0, 0, 1);
            }

            p {
                @include text__styles;
                font-weight: 300;
                font-size: 12px;
                line-height: 100%;
                color: rgba(0, 0, 0, 0.4);
            }
        }

        &-form {
            @include flex-column;
            justify-content: start;
            gap: 12px;
            width: 100%;
            height: 560px;

            h1 {
                @include text__styles;
                @include title__font;
                font-size: 12px;
                line-height: 100%;
                color: rgba(0, 0, 0, 1);
            }

            .input-text {
                width: 100%;
                @include text__styles;
                flex: 1;
                padding: 5px;
                border-radius: 8px;
                border: 1px solid rgba(0, 0, 0, 0.1)
            }

            input::placeholder {
                @include text__styles;
                font-size: 12px;
                line-height: 100%;
                color: rgba(0, 0, 0, 0.4);
            }
        }

        .form-input {
            @include flex-column;
            justify-content: start;
            width: 100%;
            gap: 6px;

            .input-description {
                @include text__styles;
                height: 200px;
                padding: 5px;
                border-radius: 8px;
                border: 1px solid rgba(0, 0, 0, 0.1)
            }

            .upload-file {
                @include flex-center;
                gap: 12px;
                //width: 900px;
                height: 48px;
                border-radius: 8px;
                border: 1px solid rgba(0, 0, 0, 0.1);

                p {
                    @include text__styles;
                    font-size: 12px;
                    line-height: 100%;
                    color: rgba(0, 0, 0, 0.4);
                }

                &__add {
                    @include flex-row;
                    padding: 6px 12px 6px 12px;
                }

                &__info {
                    @include flex-row;
                    gap: 12px;

                    h1 {
                        @include text__styles;
                        font-size: 10px;
                        line-height: 100%;
                        color: rgba(0, 0, 0, 0.4)
                    }

                    p {
                        @include text__styles;
                        font-size: 12px;
                        line-height: 100%;
                        color: rgba(0, 0, 0, 1);
                    }
                }
            }
        }
    }
}

.activeButton {
    background-color: $button-hover-background-color;

    img {
        filter: brightness(0) invert(1);
    }
}

button, a {
    cursor: pointer;

    &:hover {
        transition: all 0.5s ease-in-out;
        transform: scale(1.02);

        img {
            transition: all 0.5s ease-in-out;
            transform: scale(1.02);
        }
    }

    .ticket__btn-active {
        background-color: $button-hover-background-color;
    }
}
