@import 'variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    height: 100vh;
    width: 68px;
    background-color: $header-background-color;
    display: flex;
    flex-direction: column;
    padding: 18px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.header_frame_1 {
    width: 32px;
    height: 248px;
}

.header__logo, .header__logo img {
    width: 32px;
    height: 32px;
    margin-bottom: 24px;
}

.header__menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
}

.header__menu button {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__menu button:hover,
.header_frame_2 button:hover,
.header__menu button:active {
    background-color: $button-hover-background-color;
}

.header__menu button:hover svg,
.header__menu button:hover img {
    filter: brightness(0) invert(1);
}

.header_frame_2 button {
    width: 32px;
    height: 32px;
    background-color: #00000099;
    //background-color: transparent;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
