<div class="entering-messages">
    <button class="btn__add-file">
        <img src="~/Images/add-file-icon.svg" />
    </button>
    <input class="input-text" type="text" placeholder="Type a new message">
    <button  type="submit" class="btn__send-message">
        <img src="~/Images/send-icon.svg" />
    </button>
</div>