<div class="header">
    <div class="header__frame header__frame--top">
        <div class="header__logo">
            <img src="~/Images/logo-icon.svg" />
        </div>
        <div class="header__menu">
            @await Html.PartialAsync("_HeaderMenuButtonPartial", ("Index", "~/Images/home-icon.svg"))
            @await Html.PartialAsync("_HeaderMenuButtonPartial", ("Ticket", "~/Images/ticket-icon-2.svg"))
            @await Html.PartialAsync("_HeaderMenuButtonPartial", ("Privacy", "~/Images/block-icon.svg"))
            @await Html.PartialAsync("_HeaderMenuButtonPartial", ("Bell", "~/Images/bell-icon.svg"))
            @await Html.PartialAsync("_HeaderMenuButtonPartial", ("Settings", "~/Images/gear-icon.svg"))
        </div>
    </div>
    <div class="header__frame header__frame--bottom">
        <button class="base-button header__menu__button">
            <img src="~/Images/N.svg" />
        </button>
    </div>
</div>