<div class="header">
    <div class="Frame_1">
        <div class="logo">
            <img src="~/Images/logo-icon.png" />
        </div>
        <div class="header__menu">
            @*<img src="~/Images/home-icon.png" />
                <img src="~/Images/ticket-icon.png" />
                <img src="~/Images/block-icon.png" />
                <img src="~/Images/bell-icon.png" />
                <img src="~/Images/gear-icon.png" />*@
            <button class="header__menu__button">
                <img src="~/Images/home-icon.png" />
            </button> 
            <button class="header__menu__button">
                <img src="~/Images/ticket-icon.png" />
            </button>
            <button class="header__menu__button">
                <img src="~/Images/block-icon.png" />
            </button>
            <button class="header__menu__button">
                <img src="~/Images/bell-icon.png" />
            </button>
            <button>
                <img src="~/Images/gear-icon.png" />
            </button>
        </div>
    </div>
    <div class="Frame_2">
        @*Frame 2*@
        <img src="~/Images/N.png" />
    </div>
</div>