<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - TicketingApp</title>
    @*<link rel="stylesheet" href="~/css/style.css" />*@
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <div style="display: flex">
            @await Html.PartialAsync("_Header")
        
        <div class="Container">
            <main role="main" class="pb-3">                
                @RenderBody()
            </main>
        </div>
    </div>    
</body>
</html>