<div class="user-me">
    <div class="user__send-message">
        <div class="user__send-time">
            <h1>You</h1>
            <p>2:47 PM</p>
        </div>
        <p>I wanted to discuss the custom UI-kit we’re developing for the site redesign. We need to finalize some components and make key design decisions to ensure consistency across the board.</p>
    </div>
    <div class="user-me__logo">
        <img src="~/Images/star-icon.svg"/>
    </div>
</div>