<div class="ticket-chat__wrapper-details">
    <div class="details__header">
        <p>Details</p>
    </div>
    <div class="details__main">
        <div class="details__main-row">
            <h1>Assignee</h1>
            <p>Unassigned</p>
        </div>
        <div class="details__main-row">
            <h1>Reporter</h1>
            <p>Me</p>
        </div>
        <div class="details__main-row">
            <h1>ID</h1>
            <p>23</p>
        </div>
        <div class="details__main-row">
            <h1>Created date</h1>
            <p>19.01.2025</p>
        </div>
        <div class="details__main-row">
            <h1>Status</h1>
            <p class="text-status">New</p>
        </div>
        <div class="details__main-row">
            <h1>Connected ticket</h1>
            <p>None</p>
        </div>
    </div>
</div>