<div class="ticket-create__wrapper">
    <div class="ticket-create__header">
        <div class="ticket-create__url">
            <p>Tickets / Personal /</p>
        </div>
    </div>
    <div class="ticket-create__content">
        <div class="ticket-create__content-title">
            <h1>Create ticket</h1>
            <p>Share where you’ve worked on your profile</p>
        </div>
        <div class="ticket-create__content-form">
            <div class="form-input">
                <h1>Summary</h1>
                <input class="input-text" type="text" placeholder="Enter summary">
            </div>
            <div class="form-input">
                <h1>Application</h1>
                <input class="input-text" type="text" placeholder="Select project">
            </div>
            <div class="form-input form-input__description">
                <h1>Description</h1>
                <input class="input-description" type="text" placeholder="Enter decription">
            </div>
            <div class="form-input">
                <h1>Upload files</h1>
                <div class="upload-file">
                    <img src="~/Images/apload-file-icon.svg" alt="" />
                    <p>Click here to</p>
                    <p>choose files</p>
                </div>

                <div class="upload-file upload-file__add">
                    <div class="upload-file__info">
                        <img src="~/Images/file-icon.svg" />
                        <div>
                            <h1>File name</h1>
                            <p>photo_2024-11-07_16-25-09.jpg</p>
                        </div>
                    </div>
                    <img src="~/Images/delete-icon.svg" />
                </div>

                <div class="upload-file upload-file__add">
                    <div class="upload-file__info">
                        <img src="~/Images/file-icon.svg" />
                        <div>
                            <h1>File name</h1>
                            <p>photo_2024-11-07_16-25-09.jpg</p>
                        </div>
                    </div>
                    <img src="~/Images/delete-icon.svg" />
                </div>
            </div>
        </div>
        <button>Create</button>
    </div>
</div>