@model (string StatusClass, bool IsActive)
    @*href="/Ticket/Chat/19"*@
    <a class="ticket-card__link-wrapper" asp-controller="Home" asp-action="TicketChat">
        <div class="ticket-card">

            <div class="ticket-card__header">
                @* header-ticket *@
                <div class="@(Model.IsActive ? Model.StatusClass : "solved") ticket-card__header-status"> @(Model.IsActive ? "Opened" : "Solved")</div>
                <div class="ticket-card__header-number">
                    <img src="~/Images/ticket-icon.svg" />
                    <p>#19</p>
                </div>
            </div>
            <div class="ticket-card__info">
                @* info-ticket *@
                <div class="ticket-card__description">
                    <h1>The button doesn't work</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend quis quam...</p>
                </div>
                <div class="ticket-card__publication">
                    <p>Created:</p>
                    <p>18 August 2024</p>
                </div>
            </div>

        </div>
    </a>
