@using TicketingApp.Models
@{
    var ticketSolved = TicketRepository.GetSolvedTicket();
}
<div class="ticket-sidebar">
    <div class="ticket-sidebar__action">
        <div class="ticket-sidebar__status">
            <button>Tickets</button>
            <button>Solved</button>
            <button>Opened</button>
            @*<a onclick="ticketSolved" asp-controller="Home" asp-action="TicketSolved">Solved</a>*@
        </div>
        <div class="ticket-sidebar__create">
            <a class="ticket-card__link-wrapper" asp-controller="Home" asp-action="TicketCreate">
                <button>Create New +</button>
            </a>
        </div>
    </div>
    <div class="ticket-sidebar__frame">

        @await Component.InvokeAsync("Ticket")
    </div>
</div>