<div class="ticket-sidebar">
    <div class="ticket-sidebar__action">
        <div class="ticket-sidebar__action-status">

        </div>
        <div class="ticket-sidebar__action-create">

        </div>
    </div>
    <div class="ticket-sidebar__info-ticket">
        <div class="ticket-sidebar__frame-ticket">
            <div class="ticket-sidebar__header-ticket">

            </div>
            <div class="ticket-sidebar__description-ticket">
                <div class="ticket-sidebar__text-ticket">

                </div>
                <div class="ticket-sidebar__publication-ticket">

                </div>
            </div>
        </div>
    </div>
</div>