<div class="ticket-sidebar">
    <div class="ticket-sidebar__action">
        <div class="ticket-sidebar__status">
            <button>Tickets</button>
            <button>Solved</button>
            <button>Opened</button>
        </div>
        <div class="ticket-sidebar__create">
            <button>Create New +</button>
        </div>
    </div>
    <div class="ticket-sidebar__frame">
        @await Html.PartialAsync("_TicketFramePartial", ("opened", true))
        @await Html.PartialAsync("_TicketFramePartial", ("opened", true))
        @await Html.PartialAsync("_TicketFramePartial", ("solved", false))
        @await Html.PartialAsync("_TicketFramePartial", ("solved", false))
        @await Html.PartialAsync("_TicketFramePartial", ("solved", false))
    </div>
</div>